
<section class="relative py-20">
    <div class="px-4 mx-auto">

        <div class="max-w-3xl mb-20 mx-auto text-center">
            <h2 id="postTitle" class="mt-8 mb-10 text-4xl font-semibold font-heading">Latest Posts</h2>
        </div>

        <div id="main" class="grid grid-cols-10 gap-4 justify-evenly">
            <ng-container *ngFor="let post of (posts$ | async); let i=index">
                <div>
                    <app-post [post]="post"></app-post>
                </div>
            </ng-container>
        </div>

        <div class="text-center"><a class="px-6 py-4 text-sm text-white font-semibold bg-red-400 hover:bg-red-300 rounded transition duration-200" href="#">View More Articles</a></div>
    </div>
</section>
