
<div class="" [@fade]="status" (click)="flip()">
    <div class="p-6 border rounded-xl post">
<!--        <div class="relative h-52 mb-6">-->
<!--            <span class="absolute top-0 right-0 mt-4 mr-4 text-xs text-white px-2 py-1 font-semibold bg-gray-600 bg-opacity-50 rounded-md uppercase">Development</span>-->
<!--            <img class="w-full h-full object-cover rounded-lg" src="https://images.unsplash.com/photo-1544717297-fa95b6ee9643?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">-->
<!--        </div>-->
<!--        <span class="inline-block mb-4 text-xs text-gray-500">10 jun 2020 19:40</span>-->
        <h1>{{key}}:</h1>
        <h3 class="mb-4 text-2xl font-semibold font-heading">{{displayItem}}</h3>
    </div>
</div>
